# allowUpdateCheck (boolean:true) -- Set to true to allow checking for updates for ALL of my mods, false to disable
# allowDebugOutput (boolean:false)
# updateTimeoutMilliseconds (int:3000) -- The timeout in milliseconds for the version update check.
# 
# Fri Sep 20 14:57:03 PDT 2013
allowDebugOutput=false
allowUpdateCheck=true
updateTimeoutMilliseconds=3000
